.vs/
[Oo]bj/
[Bb]in/
tmp/
Release/
Debug/
build/

TODO
  
*.opensdf
*.sdf
*.log

*.sln
*.user
*.filters
*.vcxproj

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

CMakeSettings.json